<script type="text/javascript">
    google.setOnLoadCallback(drawVisualization);
    function drawVisualization() {
        // Create and populate the data table.
        var data = google.visualization.arrayToDataTable({{day|safe}});
        //var data = new google.visualization.DataTable();
        //data.addColumn('string', 'Person');
        //data.addColumn('number', 'Duration');
        //data.addRows();

        // Create and draw the visualization.
        new google.visualization.ColumnChart(document.getElementById('distractions_day')).draw(data,
            {title:null,
            width:'100%', height:'100%',
            hAxis: {textPosition:'none'},
            isStacked:true,
            vAxis: {textPosition:'none',baselineColor:'#ffffff',gridlines:{count:0}},
            legend: {position:'none'},
            series: {{day_colors|safe}}
            }
        );
    }
    google.setOnLoadCallback(drawGauge);
    function drawGauge() {

        // Create and populate the data table.
        var data = google.visualization.arrayToDataTable([
            ['Label', 'Value'],
            ['', {{ gauge }}]
        ]);
        var options = {
            width:'100%', height:'100%',
            redFrom: 80, redTo: 100,
            yellowFrom:60, yellowTo: 80,
            minorTicks: 10
        };

        // Create and draw the visualization.
        new google.visualization.Gauge(document.getElementById('distractions_day_total')).draw(data,options);
    }
</script>
