{% extends "base.html" %}
{% block title %}Distract me not!{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span6">
        <h3>Today's Distractions<h3>
        <div id="distractions_day" style="height:100%"></div>
    </div>
    <div class="span6">
        <h3>Week's Trend</h3>
        <div id="distractions_week" style="height:100%"></div>
    </div>
</div>
{% endblock %}

{% block charts %}
    {% include "distractions.day.html" %}
    {% include "distractions.week.html" %}
{% endblock %}